
 .preloadContainer {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120vh;
    top: -10%;
    /* animation: clipload 4s ease forwards;
    background-color: transparent; */
    animation: clipload 0.4s ease-in forwards;
    animation-delay: 4s;
    background-color: black;
    font-size: 1rem;
    
}

.imgPreload {
    object-fit: cover;
    height: auto;
    width: 250px;
    aspect-ratio: auto;
}

.typingContainer {
    display: inline-block;

}

.preloadContainer p {
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    animation: typing 3s steps(28) forwards;
    animation-delay: 0.3s;
    color: white;
    overflow: hidden;
    height: 35px;
    white-space: nowrap;
    border-right: 3px solid white;

        width: 0;


}

@keyframes typing {
 
    to {
        width: 190px;
    }
}

.preloadContainers {
    position: fixed;
    z-index: 9997;
    width: 100%;
    height: 120vh;
    top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: clipload 4s ease forwards;
    background-color: transparent; */
    animation: cliploads 0.4s ease-in forwards;
    animation-delay: 6s;
    background-color: var(--background);

    
}



.titlePreloads {
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;

}

@keyframes cliploads {
    0% {
        clip-path: circle(100% at 50% 50%);
    }
    100% {
        clip-path: circle(0% at 50% 0%);

    }
} 

@keyframes clipload {
    0% {
        clip-path: circle(100% at 50% 50%);
    }
    100% {
        clip-path: circle(0% at 0% 0%);

    }
} 

/* 
.banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: '';
    position: absolute;
    background-image: url("/afouIdev.svg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0;

    mask-image: url("/public/vecteezy_cloud-cumulonimbus-animation-concept-3d-render_40292960online-video-cutter.com-ezgif.com-instagif.gif");
    mask-size: contain;
    mask-position: center;
} */