@font-face {
  font-family: "Condensed";
  src: url("./font/RobotoCondensed-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./font/Outfit-VariableFont_wght.ttf");
}
:root {
  --background: #FFF0D9;
  --foreground: #171717;
  --font: "Outfit";
  --fontd: "Roboto";
  --fontt: "Condensed";
  --color: black;
  --colord: #FD6F11;
  --colort: #FFF0D9;
  --colorp: #868686;
  --spacing: 5%;
}





* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--background);

}

nav {
  font-family: var(--fontt);
  font-weight: 600;
}

button {
  background-color: var(--colord);
  font-family: var(--fontt);
  font-weight: 600;
}

h1 {
  font-size: clamp(2.5rem, 1.4615rem + 4.6154vw, 7rem);
    font-weight: 900;
  font-family: var(--font);
  line-height: 1;
}

h2 {
  font-size: clamp(2rem, 1.3077rem + 3.0769vw, 5rem);
  font-weight: 900;
  font-family: var(--font);
  line-height: 0.7;
}
h3 {
  font-size: clamp();
  font-family: var(--font);
}

p {
  font-family: var(--fontd);

}

@media screen and (max-width: 1580px) {
  
}
@media screen and (max-width: 1025px) {

}
@media screen and (max-width: 770px) {

}
@media screen and (max-width: 480px) {

}
