.bgImg{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: 9999;
  pointer-events: none;
  
}

.texture {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

