.bgImg{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: 9998;
  pointer-events: none;
  
}
#hero {
  position: absolute;
  z-index: 9999;
}
.texture {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 480px) {
  .bgImg {
    height: 150dvh;
  }
}

